NEXT_PUBLIC_NETWORK=robinhood-testnet
NEXT_PUBLIC_NEST_API_URL=https://nest-nft-launchpad-production.up.railway.app
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=63564cf2fc58ce8b1059edd34ac041e0
NEXT_PUBLIC_OPENSEA_CHAIN_SLUG=
NEXT_PUBLIC_OPENSEA_COLLECTION_URL_PATTERN=
NEXT_PUBLIC_OPENSEA_ASSET_URL_PATTERN=
OPENSEA_API_KEY=
NEST_API_PORT=8787
NEST_SESSION_SECRET=

ROBINHOOD_TESTNET_RPC=https://rpc.testnet.chain.robinhood.com
ROBINHOOD_MAINNET_RPC=https://rpc.mainnet.chain.robinhood.com

IPFS_PROVIDER=
IPFS_API_KEY=
IPFS_API_SECRET=

DATABASE_URL=postgresql://user:password@localhost:5432/nest_launchpad
PLATFORM_TREASURY_ADDRESS=0xaB81d488395EdebC6632c7546d223439bD8FBdD1
CONFIRM_MAINNET_DEPLOYMENT=false
